
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Satisfy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.nav-img{
    width: 2vw;
    height: 5vh;
    margin-right: 1%;
}
nav{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    position: fixed;
    top:0;
    width: 100vw;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.container{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
}
.addnote{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50vw;
    border-color: black;
    border-radius: 34px;
    border-style: groove;
    border-width: 0.2vw;
    height: max-content;
    background-color: yellow;

}
.title{
    font-family: 'Martian Mono', monospace;
    margin-top: 3%;
    margin-left: 3%;
}
#inptitle{
    width: 80%;

}
.notebody{
    font-family: 'Martian Mono', monospace;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 5%;
    padding: 2px;
}
.btngrp{
    width: auto;
    display: flex;
    justify-content: flex-end;
  
    margin-bottom: 2%;
}
.b1{
   margin-right: 6rem;
    width: fit-content;
    height: fit-content;
}
.rm{
    margin-right: 6rem;
     width: fit-content;
     height: fit-content;
 }
.b1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-left: 72%;
    border-radius: 34px;
    width: 8em;
    height: 3em;
    cursor: pointer;
    text-align: center;
    color: greenyellow;

}
.rm button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-left: 72%;
    border-radius: 34px;
    width: 8em;
    height: 3em;
    cursor: pointer;
    text-align: center;
    color: greenyellow;

}
.ed button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-left: 72%;
    border-radius: 34px;
    width: 8em;
    height: 3em;
    cursor: pointer;
    text-align: center;
    color: greenyellow;
  

}
.b1 button img{
   width: 30%;
   height: 100%;
   margin-right: 0.2rem;

}
#inpbody{
    resize:vertical;
    height: fit-content;
 
    width: 81%;
}
.note{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50vw;
    border-color: black;
    border-radius: 34px;
    border-style: groove;
    border-width: 0.2vw;
    height: max-content;
    background-color: yellow;
    margin-top: 12px;

}
@media only screen and (max-width: 760px) {
    .note{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        border-color: black;
        border-radius: 34px;
        border-style: groove;
        border-width: 0.2vw;
        height: max-content;
        background-color: yellow;
        margin-top: 12px;
    
    }
    .addnote{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        border-color: black;
        border-radius: 34px;
        border-style: groove;
        border-width: 0.2vw;
        height: max-content;
        background-color: yellow;
    
    }
body{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('bg.png');
        background-size:cover;
      
        background-repeat: no-repeat;
    
    }
  }
.b2 button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-left:0%;
    border-radius: 34px;
    width: 8em;
    height: 3em;
    cursor: pointer;
    text-align: center;
    color: greenyellow;
}
.ed button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-left:0%;
    border-radius: 34px;
    width: 8em;
    height: 3em;
    cursor: pointer;
    text-align: center;
    color: greenyellow;
}
#footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100vw;
    margin-bottom: 0%;
    background-color: yellow;
}
.ed{
    margin-right: 5%;
}
